*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  margin: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input[type='number'],
input[type='text'],
input[type='radio'] {
  font-family: inherit;
  height: 40px;
  padding: 8px 16px;
  border: solid 1px #808080;
}

input:hover {
  border-color: #000;
}

input:active {
  border-color: #4e75ff;
}

input:disabled {
  background-color: #fafafa;
  color: #808080;
  border-color: #808080;
}

input::placeholder,
textarea::placeholder {
  color: #2e2f42;
}

input[type='radio'] {
  border-radius: 14px;
  width: 20px;
  accent-color: #4e75ff;
  margin: 0;
  padding: 0;
  border: 1px solid #757575;
}

button {
  font-family: inherit;
  font-weight: 500;
  color: #fff;
  height: 40px;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  background-color: #4e75ff;
}

button:hover {
  background-color: #6c8cff;
}

button:disabled {
  background-color: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}

.timer-page input {
  width: 272px;
  margin-bottom: 32px;
}

.timer-page button {
  width: 75px;
}

.timer {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  width: 346px;
  height: 72px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.value {
  display: flex;
  gap: 8px;
  font-size: 40px;
  line-height: 1.2;
}

.label {
  text-transform: uppercase;
}

.snackbar-page input {
  width: 360px;
  margin-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  display: flex;
  flex-direction: column;
}

.snackbar-page .form input {
  width: 360px;
}

fieldset {
  display: flex
  gap: 48px;
  justify-content: center;
  align-items: center;
  padding: 24px 48px 8px;
  border-radius: 4px;
  width: 360px;
  margin: 0;
}

.form fieldset label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.snackbar-page button {
  width: 360px;
  margin-top: 24px;
}
